body{
    background-color: white;
}

.gifs{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif{
    padding: 0 2px;
}

.Loader{
    color: blue;
}

.container {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 5rem;
    column-gap: 180px;
}

.ironman{
    text-align: center;
    margin-top: 130px;
    padding-bottom: 150px;
    font-style: oblique;
    font-size: xxx-large;
    color: darkred;
    letter-spacing: 2px;
    font-family: fantasy;
}


.searchbox{
    padding-top: 30px;
    padding-bottom: 90px;
}

.home{
    text-align: center;
    margin-top: 150px;
    letter-spacing: 2px;
    font-family: fantasy;
}

.nav{
    place-content: center;
    padding: 10px 10px;
}